<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364517170564-h09tgiksmmn5uplcm07hdt4us4olkl9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364517170564-h09tgiksmmn5uplcm07hdt4us4olkl9g</string>
	<key>API_KEY</key>
	<string>AIzaSyDtHXgt7Fqjg0UIZtpUhFLoZU9T-5_lG6E</string>
	<key>GCM_SENDER_ID</key>
	<string>364517170564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fridge-buddy.fridge-buddy</string>
	<key>PROJECT_ID</key>
	<string>fridgebuddy-6ae5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgebuddy-6ae5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364517170564:ios:8e359ff7c7f925071311d1</string>
</dict>
</plist>